<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>更新</title>
	<link rel="stylesheet" href="style.css"><link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	
	<header>
			<span class="glitch" data-text="Let's 腹筋！">Let's 腹筋！</span>
	</header>
	
	<main>
		<form th:action="@{/past/{pastId}/edit(pastId=${exercise_records.id})}" method="post">
			
			<div class="edittable">
			<table border="1" class="edit">
				<tr>
					<th>日付</th>
					<td class="edit"><input type="date" name="date" th:value="${exercise_records.date}" required></td>
				</tr>
				<tr>
					<th>種目</th>
					<td class="edittable">
						<select name="eventId" required>
							<option th:each="event : ${events}" th:value="${event.id}" th:text="${event.name}"
								th:selected="${event.id == exercise_records.eventId}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>時間</th>
					<td class="edit"><input type="number" name="time" min="1" th:value="${exercise_records.time}" required> 分</td>
				</tr>
				<tr>
					<th>体重</th>
					<td class="edit"><input type="number" name="weight" min="1" step="0.1" th:value="${exercise_records.weight}"
							required> kg</td>
				</tr>

				<tr>
					<th>消費カロリー</th>
					<td input type="text" th:value="${exercise_records.burnCalorie}" readonly class="kcal"> kcal</td>
				</tr>
				
				<tr>
					<th>memo</th>
					<td input type="text" th:value="${exercise_records.memo}"></td>
				</tr>
			</table>
			</div>
			<button type="submit" class="editbtn">更新</button>
		</form>
	</main>
	<footer>
		<hr>
		<p><small>&copy; by watanabe momoko</small></p>
	</footer>

</body>


</html>