<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	
</head>

<body>
	
	<header>
		<span class="glitch" data-text="Let's 腹筋！">Let's 腹筋！</span>
	</header>
	<hr>
	<main>
			<form action="/login" method="post">
			<span th:text="${message}" style="color: red"></span><br>
			
			<div class="loginbox">
				<input type="text" name="name" placeholder="名前" th:value="${name}" class="text"><br>
				<input type="password" name="password" placeholder="パスワード" class="text"><br>
			</div>
			
			<button class="btn1">ログイン</button>
			<br>
		</form>
		<a href="/users/new" class="new">新規登録</a>
		
	</main>
	
</body>

<footer>
	<hr>
	<p><small>&copy; by watanabe momoko</small></p>
</footer>

</html>