<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<header>Let's 腹筋！</header>
	<h1>ログイン</h1><br>
	
	<form action="/login" method="post">
		<span th:text="${message}"></span>
	<table>
		<tr>
			<th>名前</th>
			<td><input type="text" name="name" th:value="${name}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><input type="password" name="password"></td>
		</tr>
	</table>
	<button type="submit" >ログイン</button><br>
	</form>
	<a href="/users/new">新規登録</a>
</body>
</html>