<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>過去の記録</title>
</head>
<body>
	<header>
		<h1>Let's 腹筋！</h1>
	</header>

	<main>
		<hr>
		<h3><span th:text="${@account.name} + ' さん、こんにちは'"></span></h3>
		<table border="1">
			<tr>
				<th>日付</th>
				<th>種目</th>
				<th>時間</th>
				<th>体重</th>
				<th>消費カロリー</th>
				<th>削除</th>
			</tr>
			<tr th:each="record : ${records}">
				<td th:text="${record.date}"></td>
				<td>
					<span th:each="event : ${events}">
						<span th:if="${event.id == record.eventId}" th:text="${event.name}"></span>
					</span>
				</td>
				<td th:text="${record.time + ' 分'}"></td>
				<td th:text="${record.weight + ' kg'}"></td>
				<td th:text="${'約 ' + record.burnCalorie + ' カロリー'}"></td>
				
				<td>
<!--					<form th:action="" method="post">-->
					<button>削除</button>
					</form>
				</td>
			</tr>
		</table>
		<p><a href="/records/add">入力画面へ戻る</a></p>
		<form action="/logout" method="post">
			<button type="submit">ログアウト</button>
		</form>
	</main>
</body>
</html>
